---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Política de Cookies'>
  <main class='max-w-4xl mx-auto p-8'>
    <div class='mt-6'>
      <a
        href='/'
        class='bg-primary text-white py-2 px-4 rounded ml-4 hover:bg-primaryHover transition duration-500 ease-in-out transform hover:scale-105'
      >
        Volver a la Página Principal
      </a>
    </div>

    <div class='bg-gray-800 p-6 rounded-lg shadow-lg'>
      <h1 class='text-3xl font-bold mb-4 text-gradient'>Política de Cookies</h1>
      <p class='text-sm text-white mb-4'>
        Esta es la política de cookies para Scam Hammer, accesible desde <a
          href='https://scam-hammer.com'
          class='underline text-highlight'>https://scam-hammer.com</a
        >
      </p>
      <h2 class='text-2xl font-bold mb-4 text-gradient'>
        ¿Qué son las cookies?
      </h2>
      <p class='text-sm text-white mb-4'>
        Las cookies son archivos de texto que se colocan en su computadora para
        recopilar información estándar de registro de Internet e información de
        comportamiento de los visitantes. Cuando visita nuestros sitios web,
        podemos recopilar información de usted automáticamente a través de
        cookies o tecnología similar.
      </p>
      <h2 class='text-2xl font-bold mb-4 text-gradient'>
        ¿Cómo utilizamos las cookies?
      </h2>
      <p class='text-sm text-white mb-4'>
        Utilizamos cookies para mejorar su experiencia en nuestro sitio web,
        incluyendo:
        <ul class='text-white list-disc list-inside ml-4'>
          <li>Mantenerlo conectado</li>
          <li>Seguridad</li>
          <li>Entender cómo usa nuestro sitio web</li>
        </ul>
      </p>
      <br />
      <h2 class='text-2xl font-bold mb-4 text-gradient'>
        Tipos de cookies que utilizamos
      </h2>
      <p class='text-sm text-white mb-4'>
        Hay varios tipos de cookies, sin embargo, nuestro sitio web utiliza:
        <ul class='list-disc list-inside ml-4 text-white'>
          <li>
            <b class='text-blue-300 underline'>CF_VERIFIED_DEVICE</b>: Utilizada
            por Cloudflare (nuestro proveedor de seguridad web) para verificar
            dispositivos y asegurar que el tráfico proviene de un cliente
            legítimo y no de un bot.
          </li>
          <li>
            <b class='text-blue-300 underline'>XSRF-TOKEN</b>: Utilizada para
            prevenir ataques Cross-Site Request Forgery (CSRF), asegurando que
            la solicitud proviene del usuario legítimo.
          </li>
          <li>
            <b class='text-blue-300 underline'>__cf_logged_in</b>: Utilizada por
            Cloudflare(nuestro proveedor de seguridad web) y se crea cuando un
            usuario se autentica en un servicio gestionado por Cloudflare.
          </li>
          <li>
            <b class='text-blue-300 underline'>cf_clearance</b>: Utilizada por
            Cloudflare (nuestro proveedor de seguridad web) para permitir el
            acceso temporal al sitio después de que un desafío ha sido resuelto
            con éxito.
          </li>
          <li>
            <b class='text-blue-300 underline'>cfz_google-analytics_v4</b>:
            Relacionada con Google Analytics a través de Cloudflare, utilizada
            para rastrear y reportar el tráfico del sitio web. De esta forma
            podemos mejorar la experiencia del usuario.
          </li>
        </ul>
      </p>
      <br />
      <h2 class='text-2xl font-bold mb-4 text-gradient'>
        Cómo gestionar las cookies
      </h2>
      <p class='text-sm text-white mb-4'>
        Puede configurar su navegador para que no acepte cookies. Sin embargo,
        en algunos casos, algunas de las características de nuestro sitio web
        pueden no funcionar como resultado.
      </p>
    </div>
    <div class='mt-6'>
      <a
        href='/'
        class='bg-primary text-white py-2 px-4 rounded ml-4 hover:bg-primaryHover transition duration-500 ease-in-out transform hover:scale-105'
      >
        Volver a la Página Principal
      </a>
    </div>
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: linear-gradient(90deg, #cef9ff, #0099ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-highlight {
    color: #56ebff;
  }
</style>
