---

---

<div class='text-center'>
  <div class='flex justify-center items-center mb-4'>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      class='h-16 w-16 text-green-500'
      fill='none'
      viewBox='0 0 24 24'
      stroke='currentColor'
      stroke-width='2'
    >
      <path stroke-linecap='round' stroke-linejoin='round' d='M5 13l4 4L19 7'
      ></path>
    </svg>
  </div>
  <p class='text-lg text-white'>
    ¡Reporte enviado con éxito! Gracias por ayudarnos a combatir el fraude
    online.
  </p>
</div>
