<nav class='bg-transparent backdrop-blur-md fixed w-full z-30 top-0 shadow-md'>
  <div class='max-w-7xl mx-auto px-4 sm:px-6 lg:px-8'>
    <div class='flex items-center justify-between h-16'>
      <div class='flex items-center'>
        <a href='/' class='text-white text-2xl font-bold title-glow'>
          Scam-Hammer <i class='fas fa-gavel'></i>
        </a>
        <div class='hidden md:block'>
          <div class='ml-10 flex items-baseline space-x-4'>
            <a
              href='/'
              class='text-white hover:bg-primary hover:text-white px-3 py-2 rounded-md text-sm font-medium transition duration-500 ease-in-out'
            >
              Inicio
            </a>
            <a
              href='/estadisticasPage'
              class='text-white hover:bg-primary hover:text-white px-3 py-2 rounded-md text-sm font-medium transition duration-500 ease-in-out'
            >
              Estadísticas
            </a>
          </div>
        </div>
      </div>
      <div class='-mr-2 flex md:hidden'>
        <button
          class='inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white transition duration-500 ease-in-out'
          aria-expanded='false'
        >
          <span class='sr-only'>Open main menu</span>
          <svg
            class='block h-6 w-6'
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            aria-hidden='true'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
              d='M4 6h16M4 12h16m-7 6h7'></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    --primary: #45a3bc;
    --primary-hover: #2cb3d9; /* Ajusta este color si es necesario */
  }

  .hover\:bg-primary:hover {
    background-color: var(--primary-hover) !important;
  }

  .title-glow {
    text-shadow:
      0 0 1px #fff,
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 3px var(--primary),
      0 0 3px var(--primary),
      0 0 3px var(--primary),
      0 0 4px var(--primary),
      0 0 5px var(--primary);
    animation: glow 7s infinite;
  }

  @keyframes glow {
    0%,
    100% {
      text-shadow:
        0 0 0px #fff,
        0 0 0px #fff,
        0 0 1px #fff,
        0 0 2px var(--primary),
        0 0 2px var(--primary),
        0 0 2px var(--primary),
        0 0 3px var(--primary),
        0 0 4px var(--primary);
    }
    50% {
      text-shadow:
        0 0 1px #fff,
        0 0 2px #fff,
        0 0 3px #fff,
        0 0 4px var(--primary),
        0 0 5px var(--primary),
        0 0 6px var(--primary),
        0 0 7px var(--primary),
        0 0 8px var(--primary);
    }
  }
</style>
