---
import NavBar from '../components/NavBar.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <!-- Otras etiquetas meta y enlaces -->
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css'
    />
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'
    />
    <meta charset='UTF-8' />
    <meta name='Scam-Hammer' content='Por un internet seguro y sin phishing' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <style>
      @keyframes fadeOut {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }

      .loader-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #1f2937; /* Tailwind gray-800 */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 50;
        opacity: 1;
        animation: fadeOut 0.5s forwards;
        animation-delay: 0.5s;
      }

      .loader-container.hidden {
        display: none;
      }
    </style>
  </head>

  <body>
    <div id='loader' class='loader-container'>
      <l-cardio size='50' stroke='4' speed='2' color='#8FECFF'></l-cardio>
    </div>
    <div id='content' class='opacity-0'>
      <NavBar />
      <div class='pt-16'>
        <slot />
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        setTimeout(function () {
          const loader = document.getElementById('loader');
          const content = document.getElementById('content');
          loader.classList.add('hidden');
          content.classList.remove('opacity-0');
        }, 1000); // 0.5s delay for loader + 0.5s fade out animation
      });
    </script>
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: 'Montserrat', sans-serif;
    background: #13151a;
    background-size: 224px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  .opacity-0 {
    opacity: 0;
  }
</style>
